body{background-color: rgb(179, 247, 166);
} 
.engrenagem {
    width: 5%;
}

 header{display: flex;
    justify-content: space-around;
align-items: center;
background-color: black
;
}
.caraqcriouocarro {
    width: 18%;
}

img .intro {
width: 20%;

}


.intro{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

{
    color: #200bdd;
    text-decoration: none;
}
.equipe {

    display: grid
    ;
}
