body{
    background-color: rgb(200, 245, 230);
} 
.engrenagem {
    width: 5%;
}

 header{display: flex;
    justify-content: space-around;
    align-items: center
;
}



img .intro {
width: 10%;

}


.intro{
    display: flex;
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    padding: 16px
    ;
}    


.coxa{
    width: 30%;
}

#equipe{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    
}
.dupla{ 
    width: 30%;
}