body{background-color: rgb(124, 20, 20);
} 
.engrenagem {
    width: 5%;
}

 header{display: flex;
    justify-content: space-around;
align-items: center;
background-color: black
;
}
.caraqcriouocarro {
    width: 18%;
}
.













.intro {


}